html {
    box-sizing: border-box;
    height: 100%;
    background-color: aqua;
    }

/*,
*::before,
*::after {
    box-sizing: inherit;
}*/

body {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

#topbar {
    background-color: red;
    width: 1000px;
    margin:0 auto;
    height: 40px;
   
}

#logo {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    width: 80px;
    float: left;
}

.topbar-section {
    float: left;
    border-left: 1px grey solid;
    height: 100%;
}
#signin-text {
    font-weight: bold;
    font-size: 14px;
    position: relative;
    padding: 10px 15px;
    /*top: 11px;*/
}
.topbar-menu {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    padding: 10px 15px;
    height: 20px;
    
    
    
}